html, body {
    margin: 0;
    font-style: italic;
    font-weight: 100;
    
}

body {
    font-family: "Chiron Sung HK", serif;
}

.container {
    margin: 45px 40px;
}


header {
    background: #ffffff;
    display:flex;
    padding: 10px 0 0 40px;
    margin: 10px;
    color: rgb(0, 0, 0);
    height: 100px;
    border-radius: 15px;
    
}

article.image-entry {
    align-items: flex;
    padding: 0px;
    
}

article.image-entry .main-image-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;

}

article.image-entry .main-one {
    object-fit: cover;
    height: 50%;
    width: 50%;
    overflow: hidden;
}

.me-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.me-img .regan{
    width: 500px;
    height: 500px;
    padding: 50px;
}

.me-img .Me{
    padding: 50px;


}
