html, body {
    margin: 0;
    background: #f9f2e8;
}

.main-header-container {
    font-style: italic;

}

.header-entry {
  position: relative;
}


header.header-entry {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: #f9f2e8;
    display:flex;
    justify-content:space-between;
    padding: 10px;
    margin: 10px 50px 10px 20px;
    color: rgb(0, 0, 0);
    height: 100px;
    border-radius: 15px; 
    
}

.main-header-container h1 {
  font-size: 3dvh;
  margin: 0;
  color: black;
  padding-top: 10px;
  
  
  
}

.main-header-container .header-link {
    text-decoration: none; 
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #333;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #f8f8f8;
    padding: 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navbar.open {
    display: flex;
    background: #f9f2e8;
  }

  .navbar a {
    padding: 10px;
    width: 100%;
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.navbar .home-link{
    text-decoration: none;
    color: black;
}

.navbar .about-link{
    text-decoration: none;
    color: black;
}

.navbar .contact-link{
    text-decoration: none;
    color: black;
}


article.image-entry {
    align-items: flex;
    
}

article.image-entry .main-image-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  
  
}

@media screen and (max-width: 1400px) {
    article.image-entry .main-image-container {
        flex-wrap: wrap;
        justify-content: center;
    }


    
}
article.image-entry .main-one {
    object-fit: cover;
    height: 50%;
    width: 50%;
    overflow: hidden;
}

@media screen and (max-width: 890px){
    .me-img{
        flex-wrap: wrap;
    }

}

.me-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.me-img .regan{
    object-fit: cover;
    width: 70%;
    height: 70%;
    padding: 50px;
 
}

.me-img .me{
    padding: 50px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    color: black;
   
}

main.about-container{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family:  'Montserrat';
    gap: 5rem;
         
}

.image{
    width: 100%;
    
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
}

.text{
    flex: 1;
}

.contact-page{
    font-family: 'Montserrat';
    font-weight: 100;
}

.contact-info{
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: 400;
}


footer{

   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;                  
   padding: 20px;
    
}

.links{
  display: flex;
   justify-content: center;
  align-items: center;
  gap: 30px;   
}

.footer-link {
  text-decoration: none;
  color: #333;
}

.footer-link p {
  margin: 0;               
  font-size: 20px;         
  text-align: center;
}


.copyright {
  text-align: center;      
  font-size: 14px;
  opacity: 0.8;            
}

.copyright p {
  margin: 3px 0;          
}

