html, body {
    margin: 0;
    background: #f9f2e8;
}

.main-header-container {
    font-style: italic;

}



header.header-entry {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: #f9f2e8;
    display:flex;
    justify-content:space-between;
    padding: 10px;
    margin: 10px 50px 10px 20px;
    color: rgb(0, 0, 0);
    height: 100px;
    border-radius: 15px; 
    
    
}

.main-header-container .header-link {
     text-decoration: none;
     color: black;
    
}


.navbar{
    display: flex;
     gap: 20px;
     font-optical-sizing: auto;
     font-size: small;
     padding: 20px 0 0 0;
    
}

.navbar .home-link{
    text-decoration: none;
    color: black;
}

.navbar .about-link{
    text-decoration: none;
    color: black;
}

.navbar .contact-link{
    text-decoration: none;
    color: black;
}


article.image-entry {
    align-items: flex;
    
}

article.image-entry .main-image-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  overflow: hidden;

}

article.image-entry .main-one {
    object-fit: cover;
    height: 50%;
    width: 50%;
    overflow: hidden;
}

.me-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.me-img .regan{
    width: 500px;
    height: 500px;
    padding: 50px;
}

.me-img .Me{
    padding: 50px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    color: black;
   
}


.copyright{
    font-family: 'Montserrat' sans-serif;
    padding: 20px 40% 60px 40%;
    font-weight: 100;
    font-size: small;
    text-align: center;
   
    
}

main.about-container{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family:  'Montserrat';
    gap: 5rem;
    
       
}

.image{
    width: 100%;
    
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
}

.text{
    flex: 1;
}


.contact-page{
    font-family: 'Montserrat';
    font-weight: 100;
}

.contact-info{
    font-family: 'Montserrat';
    color: rgb(0, 0, 0);
    font-weight: 400;

}

li{
    
   list-style: none;
}

main.links{

    
}